@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie do anonimowego głosowania!</h1>
    <h3 class="display-10">Aby zagłosować, zarejestruj się, zaloguj a następnie wygeneruj token i oddaj głos.</h3>
</div>
